<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>App web Sring Boot</h1>
        </div>
        <div>
            <h3>Lista de usuarios</h3>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Fecha registro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuarios: ${usuarios}">
                        <td th:text="${usuarios.id}"></td>
                        <td th:text="${usuarios.nombre}"></td>
                        <td th:text="${usuarios.email}"></td>
                        <td th:text="${usuarios.fechaRegistro}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Lista de tareas</h3>
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Fecha registro</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuarios: ${tareas}">
                    <td th:text="${usuarios.id}"></td>
                    <td th:text="${usuarios.nombre}"></td>
                    <td th:text="${usuarios.fechaVencimiento}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
